.side1 {
  background-color: red;
  img {
    margin: 30px;
    background-color: white;
  }
}

.side2 {
  background-color: darkred;
  display: flex;
  p {
    // background-color: blue;
    margin: 10px 5px;
  }
}

.pokemonSprite {
  width: 250px;
  height: 250px;
}

.select {
  width: 77%;
}

section {
  display: flex;
}

a {
  margin: 0 10px;
}